{% extends 'base.html' %}

{% block content %}
<div class="pipelines-container">
    <h1>Create Pipelines</h1>
    <p>This page will allow you to create pipelines using data imported from Google Sheets.</p>
    
    <div class="pipelines-content">
        <h2>Pipelines will go here</h2>
        <p>The Google Sheet integration is not available yet. Once the Google Sheet is ready, this page will provide functionality to:</p>
        <ul>
            <li>Import data from Google Sheets</li>
            <li>Create and configure pipelines</li>
            <li>Process the imported data</li>
        </ul>
    </div>
</div>
{% endblock %} 